
<div class="flex flex-col m-auto items-center">
    <h1 class="text-2xl leading-6 font-medium text-lime-400">
        Hello World
    </h1>
    <p class="text-lg text-center text-emerald-400">
        "A big step for me, small step for humanity"
    </p>
    <p class="text-sm self-end italic">
        ~ David
    </p>
</div>
