<div>
  <h1 class="p-2 font-serif font-bold text-2xl ">About this app</h1>

  It was created by:

  <p class="w-fit bg-indigo-200 text-sm mr-2 px-1 py-0.5">rails new test -d postgresql --css tailwind</p>
  
  <p>
   <span class="bg-gray-200">-d postrgresql</span> is to set postgresql as a database
   </p>

  <p class="">
    <span class="bg-gray-200">--css tailwind</span>
    is to install <a href="https://tailwindcss.com" class="underline">Tailwind framework</a>
  </p>

  <p class="pt-4">Then we added a very useful
  <a href="https://github.com/railsjazz/rails_live_reload" class="underline">
    rails live reload gem</a>
      to our Gemfile:

    <div class="w-fit">
    <p class="bg-indigo-200 text-sm mr-2 px-1 py-0.5">group :development do
      <div class="bg-indigo-200 text-sm mr-2 px-1 py-0.5">&nbsp&nbsp&nbsp&nbspgem "rails_live_reload" </div>
    </p>
    </div>

  It allows us to make changes to the code and see the result without manually refreshing the page in the browser.
  <p>

</div>
 