<div >
  <h1 class="font-serif font-bold text-2xl ">Members</h1>

  <ul class="bg-white rounded-lg border border-gray-200 w-96 text-gray-900">
    <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg"><%= link_to "Grace", members_grace_path %></li>
    <li class="px-6 py-2 border-b border-gray-200 w-full">...</li>
    <li class="px-6 py-2 border-b border-gray-200 w-full"><%= link_to "Hamza asif", hamza_path %></li>
    <li class="px-6 py-2 w-full rounded-b-lg"><%= link_to "Uzorjchibuzor", members_uzorjchibuzor_path %></li>

  </ul>
</div>

