<div class="container place-items-center text-center">
  <h1 class="text-pink-800 ">
    <span class="font-semibold">Hi,</span class="text-xl"> My name is Chibuzor
  </h1>
  <p class="text-green-400">You can find this view in app/views/home/uzorjchibuzor.html.erb </p>
  <p>You can find the action in app/controllers/home_controller.rb#uzorjchibuzor </p>
</div>